
import Foundation

class %{logic_name}: ViewLogic, ModuleContainer, ViewContainer, %{veiw_output_name} {

    var module: %{module_name}?
    var view: %{view_input_name}?

    func activate() {
    }

}
