import UIKit

class %{module_name}: Module {

    init() {
        let creation: (Module) -> %{view_controller_name} = {
            _ in

            return %{view_controller_name}()
        }

        let logicProvider: (Module) -> %{logic_name} = { _ in %{logic_name}() }

        super.init(logicProvider: logicProvider, viewProvider: creation)
    }

}
